USERNAMEFID=your_username_fid
PASSWORD=your_password
AppPath=path/to/fidelity.apk
AppPackage=com.mdp.fidelity

USERNAMEAGB=your_username_agb
PASSWORDAGB=your_password_agb
AppPathAGB=path/to/agb.apk
AppPackageAGB=com.bankagb.cms
